.drawer {
  background-color: rgb(18, 24, 37) !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 56px 20px 56px 20px;
  gap: 20px;
  width: 470px !important;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  font-size: 20px;
  font-weight: 600;
  line-height: 26px;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14px;
    width: 100%;

    .closeButton {
      width: 24px;
      height: 24px;
      background-color: transparent;
      cursor: pointer;
      border: none;
    }
  }

  .divider {
    border: 1px solid rgb(34, 43, 68);
    width: 100%;
  }

  .transactionsHistory {
    width: 100%;

    span {
      margin-bottom: 20px;
      display: inline-block;
    }

    .table {
      .tableTitle {
        border-radius: 8px 8px 0px 0px;
        background: rgb(14, 12, 21);
        display: flex;
        align-items: center;

        p {
          width: 100%;
          text-align: center;
          padding: 14px 20px;
          color: rgb(156, 163, 175);
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;

          button {
            background-color: transparent;
            color: rgb(156, 163, 175);
            font-size: 14px;
            font-weight: 500;
            line-height: 18px;
            border: none;
            display: flex;
            align-items: center;
            gap: 14px;
            cursor: pointer;

            .revertIcon {
              transform: rotate(180deg);
            }
          }
        }
      }

      .transactionsList {
        list-style: none;
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(34, 43, 68);

        li {
          flex: 1;
          min-width: 100px;
          text-align: center;
          padding: 14px 20px;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
        }

        li:first-child {
          word-wrap: break-word;
          overflow-wrap: break-word;
        }

        .red {
          color: rgb(254, 66, 66);
        }

        .green {
          color: rgb(26, 187, 52);
        }
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .drawer {
    width: 100vw !important;
  }
}
