.paginationBtn {
  padding: 6px 14px 6px 14px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.activeBtn {
  background: rgb(28, 100, 242);
}
